:root {
    --primary-color: #050b2e;
    --secondary-color: #5870f9;
    --background-color: #eceaea;
    --text-color: #242323;
}

* {
    font-family: "Noto Sans", sans-serif;
    color: var(--text-color);
    box-sizing: border-box;
}

/***********HEADER***********/

h2 {
    font-family: "Julius Sans One", sans-serif;
    text-align: left;
    padding: 8px;
    overflow-wrap: break-word;
}

header {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: var(--background-color);
    position: relative;
}

.logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    display: block;
    padding: 8px;
}

#titleAndLogo {
    width: 100%;
    align-items: center;
    padding-right: 3.5rem;
}

/***********HAMBURGUER MENU AND PAGES***********/

#menu {
    background: none;
    border: none;
    font-size: 2.5rem;
    color: var(--primary-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 1rem;
    right: .5rem;
}

#menu::before {
    content: "\2630";
}

#menu.open::before {
    content: "\00D7";
}

.pages {
    display: none;
}

.open a {
    display: block;
    text-align: center;
}

.pages.open {
    display: flex;
    flex-direction: column;
}

.pages ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style: none;
}

.pages a:link,
.pages a:visited {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: var(--text-color);
}

.pages a:hover {
    border: 2px solid var(--primary-color);
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;

}

.pages a.active {
    color: var(--primary-color);
    font-weight: bold;
    border-bottom: solid 1px;
}

/***********h1 & OPTIONS BUTTONS***********/

#list {
    display: none;
}

h1 {
    font-size: 2rem;
    margin: 1rem 2%;
}

.view-options {
    display: flex;
    justify-content: center;
    padding: 16px;
    gap: 32px;
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.icon-button img {
    width: 32px;
    height: 32px;
}

.icon-button:hover {
    border: 2px solid var(--primary-color);
    padding: 2.5px;
    border-radius: 5px;
}

.icon-button.active {
    border: 2px solid var(--primary-color);
    padding: 2.5px;
    border-radius: 5px;
}

/***********CARDS Directory Page***********/

.grid,
#membership-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.companie-card,
.membership-card {
    border: 1px solid var(--background-color);
    padding: 1rem;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 8px black;
    border-radius: 5px;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

.list table {
    width: 100%;
    border-collapse: collapse;
}

.list td {
    padding: 8px 24px;
    text-align: left;
}

#companyname {
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: var(--background-color);
}

/***********Home Page***********/

.hero {
    position: relative;
    width: 100%;
}

picture img {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 0 20px black;
    margin-top: 2rem;
}

.join-btn {
    display: inline-block;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 48px;
    background-color: #4122dd;
    color: #ffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 20px black;
    text-decoration: none;
}

.join-btn:hover {
    border: 2px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 20px black;
}

.block-sections li {
    text-transform: capitalize;
}

h3 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
}

.album-events {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.album-events img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    box-shadow: 0 0 20px black;
}

.current-weather h3,
.weather-forecast h3 {
    text-align: left;
}

figcaption {
    text-align: center;
}

.spotlight {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0 0 8px black;
    border-radius: 5px;
}

.spotlight img {
    width: 100px;
    height: auto;
    object-fit: contain;
}

.spotlight h4 {
    margin: 0 0 0.5rem 0;
}

.album-events>div {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: stretch;
}

.album-events figure {
    flex: 1;
    text-align: center;
    margin: 0;
}

.album-events img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.current-weather div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#current-temp {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

.forecast-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem 0;
}

.forecast-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80px;
}

.forecast-right {
    flex-grow: 1;
}

.spotlight-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.spotlight-container div {
    text-align: left;
    line-height: 1.2rem;
}

.spotlight-container h4 {
    border-bottom: 1px solid var(--primary-color);
}

/*********Join page*********/

.main-content {
    align-items: stretch;
    justify-content: space-evenly;
}

form {
    margin: 1rem 2%;

    label {
        display: block;
        color: var(--primary-color);
        padding-top: .2rem;
        margin-bottom: .2rem;
    }

    input[type=text],
    input[type=tel],
    input[type=date],
    input[type=email],
    select {
        display: block;
        margin: .1rem 0 1rem 0;
        padding: .3rem;
        border: 1px solid var(--text-color);
        border-radius: 4px;
        border-left-width: 3px;
        border-left-color: var(--primary-color);
        font-size: 1rem;
        color: var(--text-color);
        width: 280px;
    }

    input:required {
        border-left-color: #d70000;
    }

    input:focus {
        border-left-color: var(--text-color);
        outline: none;
    }

    input:required:valid {
        border-left-color: green;
    }

    input[type=submit] {
        padding: 12px 48px;
        background-color: #4122dd;
        color: #ffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        box-shadow: 0 0 10px black;
        margin: 1rem 0;
        appearance: none;
        width: 280px;
    }

    input[type=submit]:hover {
        border: 2px solid var(--primary-color);
        background-color: var(--background-color);
        color: var(--primary-color);
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 0 20px black;
    }

    textarea {
        width: 280px;
        max-width: 100%;
        box-sizing: border-box;
        overflow-x: hidden;
        resize: vertical;
        word-wrap: break-word;
    }

    #business-desc {
        margin: 1rem 0 0;
    }
}

.membership-card h2 {
    text-align: center;
}

.membership-card button {
    padding: 12px 48px;
    background-color: #4122dd;
    color: #ffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px black;
    margin: 1rem 0;
    appearance: none;
    width: 180px;
}

.membership-card button:hover {
    border: 2px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px black;
}

#dialogBox {
    border: none;
    border-radius: 8px;
    padding: 1rem;
    width: fit-content;
    overflow-wrap: anywhere;
    max-width: 550px;
}

#dialogBox ul {
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
}

#dialogBox li {
    margin-top: 1rem;
    padding-left: 0;
}

#title-and-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

#title-and-btn button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

#title-and-btn button:hover {
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

#title-and-btn h2 {
    flex: 1;
    text-align: center;
    border-bottom: 1px solid;
    margin: 0;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.603);
}

#results {
    background-color: var(--background-color);
    padding: 0 1rem;
    margin: 1rem 2%;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
}

/***********FOOTER***********/

.social-pages {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin: 15px;
}

.social-pages a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}

.social-pages img {
    width: 40px;
    height: 40px;
    padding: 5px;
}

.social-pages a:hover {
    border: 2px solid var(--primary-color);
    padding: 2.5px;
    border-radius: 5px;
}

#name-page {
    font-weight: bold;
}

footer {
    background-color: var(--background-color);
    padding: 1rem;
    text-align: left;
    line-height: 1rem;
    margin-top: 2rem;
}