@media only screen and (min-width: 900px) {

    #menu {
        display: none;
    }

    header {
        display: flex;
        flex-direction: row;
        padding: 8px 24px;
        align-items: center;
    }

    h1,
    .grid {
        padding: 8px 24px;
    }

    .pages {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 32px;
        list-style: none;
        padding: 8px 24px;
        margin: 0;
    }

    .pages li {
        list-style: none;
    }

    nav {
        flex: 1;
    }

    #list {
        display: inline-block;
    }

    .join-btn {
        position: absolute;
        bottom: 80px;
        right: 80px;
        left: auto;
        top: auto;
        transform: none;
        padding: 12px 54px;
    }

    .block-sections {
        display: flex;
        gap: 1rem;
        align-items: stretch;
    }

    .block-sections section {
        flex: 1 1 30%;
        min-width: 250px;
    }

    .event-gallery {
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
    }

    .event-gallery figure {
        flex: 1;
        margin: 0;
        text-align: center;
    }

    .event-gallery img {
        width: 100%;
        height: auto;
        border-radius: 6px;
    }

    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 8px 24px;
    }

}