@media only screen and (min-width: 900px) {

    /* header,
    main,
    nav,
    footer {
        margin: 0 auto;
    } */

    /* header {
        grid-template-columns: 24px auto;
    } */

    .hamburguer {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;

        li {
            flex: 1 1 100%;
        }
    }

    .about-me-with-photo {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

        picture img {
            width: 100%;
            height: auto;
            display: block;
        }
    }