@media only screen and (min-width: 900px) {

    #menu {
        display: none;
    }

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #titleAndLogo {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        padding: 1.2rem;
    }

    .pages {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 32px;
        list-style: none;
        padding: 8px 24px;
        margin: 0;
    }

    .pages li {
        list-style: none;
    }

    nav {
        flex: 1;
    }

    .pages a:link,
    .pages a:visited,
    .nav-filters a:link,
    .nav-filters a:visited {
        border-right: solid 1px;
    }

    .nav-filters {
        display: flex;
        flex-direction: row;
        gap: 32px;
        justify-content: flex-end;
    }

    h1 {
        text-align: left;
    }

    main {
        padding: 1.2rem;
    }

    .main-content {
        flex-direction: row;
        align-items: flex-start;
        padding: 1.2rem;
    }

    .hero {
        padding-left: 1.2rem;
    }

    .main-content-one {
        flex-direction: column;
    }

    .spotlight-container {
        flex-direction: row;
        align-items: center;
    }

    #dialogBox h2 {
        font-size: 1.5rem;
    }

    #dialogBox button {
        font-size: 1.5rem;
    }

    #dialogBox {
        max-width: 50%;
    }

    .next-project-content {
        display: flex;
        flex-direction: row;
    }

    .main-content-contact {
        flex-direction: row;
        align-items: flex-start;
    }

    footer {
        padding: 8px 24px;
        line-height: 5px;
    }

}