:root {
    --background-color: #241A0F;
    --typeface-color: #ffffff;
    --heading-color: #cc7833;
}

* {
    box-sizing: border-box;
}

p {
    text-decoration: none;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--background-color);
    color: var(--typeface-color);
    font-family: "DM Sans", sans-serif;
}

header {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: var(--heading-color);
    color: var(--background-color);
    position: relative;
}

header h2 {
    color: var(--background-color);
    text-align: left;
    padding: 8px;
    overflow-wrap: break-word;
}

.logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    display: block;
}

.logo:hover {
    box-shadow: 0 0 20px black;
}

#titleAndLogo {
    width: 100%;
    align-items: center;
    padding: 1rem;
}

h1,
h2,
h3 {
    color: var(--heading-color);
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

#album-title {
    padding: 1.2rem;
}

#menu {
    background: none;
    border: none;
    font-size: 2.5rem;
    color: var(--primary-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 1rem;
    right: .5rem;
}

#menu::before {
    content: "\2630";
}

#menu.open::before {
    content: "\00D7";
}

.pages {
    display: none;
}

.open a,
.nav-filters a {
    display: block;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.pages.open,
.nav-filters {
    display: flex;
    flex-direction: column;
}

.pages,
.nav-filters {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.pages a:link,
.pages a:visited,
.nav-filters a:link,
.nav-filters a:visited {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: var(--text-color);
}

.pages a.active,
.nav-filters a.active {
    color: var(--primary-color);
    font-weight: bold;
    border-bottom: double 1px;
}

.pages a:hover,
.nav-filters a:hover {
    box-shadow: 0 0 20px black;
    padding: 8px;
    cursor: pointer;
}

.main-content {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
}

.main-content p {
    line-height: 1.2rem;
}

.main-content-one {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}

.hero {
    position: relative;
    width: 100%;
}

picture img {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 0 20px black;
    margin-top: 2rem;
}

.ask-quote-btn,
#see-more-btn {
    padding: 12px 36px;
    background-color: var(--typeface-color);
    color: var(--background-color);
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: 0 0 20px black;
    text-decoration: none;
    width: fit-content;
}

.ask-quote-btn:hover,
#see-more-btn:hover {
    background-color: var(--heading-color);
    color: var(--background-color);
    cursor: pointer;
}

.social-pages a {
    text-decoration: none;
    margin-right: 1.2rem;
}

.social-pages img:hover {
    padding: 8px;
    box-shadow: 0 0 20px black;
}

.hero-img,
.main-content-contact img {
    opacity: 0;
    filter: brightness(50%);
    transition: opacity 1.5s ease, filter 1.5s ease;
}

.hero-img.loaded,
.main-content-contact img.loaded {
    opacity: 1;
    filter: brightness(100%);
}

.spotlight {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.spotlight img {
    width: 100px;
    height: auto;
    object-fit: contain;
    box-shadow: 0 0 20px black;
}

.spotlight-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    align-items: center;
}

.spotlight-container img {
    box-shadow: 0 0 20px black;
}

section {
    text-align: center;
    padding: 1.2rem;
}

.content-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
    text-align: center;
}

.grid img {
    box-shadow: 0 0 20px black;
}

#dialogBox {
    border: none;
    border-radius: 8px;
    padding: 1rem;
    max-width: 80%;
    overflow-wrap: anywhere;
    background-color: var(--heading-color);
    color: var(--background-color);
}

#dialogBox::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

#dialog-image-container {
    margin: 20px 0;
    text-align: center;
    overflow: hidden
}

#dialogBox img {
    max-height: 50%;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#dialogBox h2 {
    color: var(--background-color);
    font-size: medium;
}

#title-and-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#dialogBox button {
    background: none;
    border: none;
    font-size: 1.2rem;
    color: var(--primary-color);
    cursor: pointer;
    font-family: Verdana;
    padding: 5px 10px;
}

#tip::before {
    content: "💡";
}

.next-project-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    justify-content: center;
    padding: 8px;
    align-items: center;
}

.next-project-content img {
    display: block;
    box-shadow: 0 0 20px black;
}

#next-project::before {
    content: "👉";
}

#map {
    height: 400px;
    width: 100%;
    margin-bottom: 1rem;
}

.main-content-contact {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
}

#carpenter::before {
    content: "👷";
}

#carpenter {
    text-align: center;
}

form {
    margin: 1rem 2%;
}

form label {
    display: block;
    color: var(--heading-color);
    padding-top: .2rem;
    margin-bottom: .2rem;
}

form input[type="text"],
form input[type="tel"],
form input[type="email"],
form select {
    display: block;
    margin: .1rem 0 1rem 0;
    padding: .3rem;
    border: 1px solid var(--heading-color);
    border-radius: 4px;
    border-left-width: 3px;
    border-left-color: var(--heading-color);
    font-size: 1rem;
    color: var(--background-color);
    width: 280px;
}

form input:focus {
    border-color: var(--heading-color);
    outline: none;
}

form input:required:valid {
    border-left-color: green;
}

form input[type="submit"] {
    padding: 12px 36px;
    background-color: var(--typeface-color);
    color: var(--background-color);
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: 0 0 20px black;
    text-decoration: none;
    width: 280px;
    margin-bottom: 1.5rem;
}

form input[type=submit]:hover {
    background-color: var(--heading-color);
    color: var(--background-color);
    cursor: pointer;
}

form textarea {
    width: 280px;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    resize: vertical;
    word-wrap: break-word;
}

.message-box {
    margin-bottom: 1.5rem;
}

.stars {
    display: inline-block;
    color: gold;
    font-size: 1.5rem;
    padding: .5rem;
}

.star {
    font-size: 1.5rem;
    color: var(--typeface-color);
    cursor: pointer;
    transition: color 0.2s;
    user-select: none;
}

.star.hover,
.star.selected {
    color: gold;
}

footer {
    display: flex;
    text-align: center;
    font-size: smaller;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 1.2rem;
    background-color: var(--heading-color);
    color: var(--background-color);
    line-height: 1.2rem;
    text-decoration: none;
}