:root {
    --background-color: #241A0F;
    --typeface-color: #ffffff;
    --heading-color: #cc7833;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--typeface-color);
    font-family: "DM Sans", sans-serif;
}

header {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: var(--heading-color);
    color: var(--background-color);
    position: relative;
}

header h2 {
    color: var(--background-color);
    text-align: left;
    padding: 8px;
    overflow-wrap: break-word;
}

.logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    display: block;
}

.logo:hover {
    box-shadow: 0 0 20px black;
}

#titleAndLogo {
    width: 100%;
    align-items: center;
    padding: 1rem;
}

h1,
h2,
h3 {
    color: var(--heading-color);
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

#album-title {
    padding: 1.2rem;
}

#menu {
    background: none;
    border: none;
    font-size: 2.5rem;
    color: var(--primary-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 1rem;
    right: .5rem;
}

#menu::before {
    content: "\2630";
}

#menu.open::before {
    content: "\00D7";
}

.pages {
    display: none;
}

.open a,
.nav-filters a {
    display: block;
    text-align: center;
}

.pages.open,
.nav-filters {
    display: flex;
    flex-direction: column;
}

.pages,
.nav-filters {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.pages a:link,
.pages a:visited,
.nav-filters a:link,
.nav-filters a:visited {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: var(--text-color);
}

.pages a.active,
.nav-filters a.active {
    color: var(--primary-color);
    font-weight: bold;
    border-bottom: double 1px;
}

.pages a:hover,
.nav-filters a:hover {
    box-shadow: 0 0 20px black;
    padding: 8px;
    cursor: pointer;
}

.main-content {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
}

.main-content p {
    line-height: 1.2rem;
}

.main-content-one {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}

.hero {
    position: relative;
    width: 100%;
}

picture img {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 0 20px black;
    margin-top: 2rem;
}

.ask-quote-btn,
#see-more-btn {
    padding: 12px 36px;
    background-color: var(--typeface-color);
    color: var(--background-color);
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: 0 0 20px black;
    text-decoration: none;
    width: fit-content;
}

.ask-quote-btn:hover,
#see-more-btn:hover {
    background-color: var(--heading-color);
    color: var(--background-color);
    cursor: pointer;
}

.social-pages a {
    text-decoration: none;
    margin-right: 1.2rem;
}

.social-pages img:hover {
    padding: 8px;
    box-shadow: 0 0 20px black;
}

.hero-img {
    opacity: 0;
    filter: brightness(50%);
    transition: opacity 1.5s ease, filter 1.5s ease;
}

.hero-img.loaded,
.spotlight-container img.loaded {
    opacity: 1;
    filter: brightness(100%);
}

.spotlight {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.spotlight img {
    width: 100px;
    height: auto;
    object-fit: contain;
    box-shadow: 0 0 20px black;
}

.spotlight-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
}

.spotlight-container img {
    box-shadow: 0 0 20px black;
}

section h2 {
    text-align: center;
}

section {
    padding: 1.2rem;
}

.content-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
    text-align: center;
}

.grid img {
    box-shadow: 0 0 20px black;
}

#map {
    height: 400px;
    width: 100%;
    margin-bottom: 1rem;
}

.stars {
    display: inline-block;
}

.star {
    font-size: 2rem;
    color: var(--typeface-color);
    cursor: pointer;
    transition: color 0.2s;
    user-select: none;
}

.star.hover,
.star.selected {
    color: gold;
}

footer {
    display: flex;
    text-align: center;
    font-size: smaller;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 1.2rem;
    background-color: var(--heading-color);
    color: var(--background-color);
    line-height: 1.2rem;
}